* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 85%;
    scroll-behavior: smooth;
}

body {
    --white-color: #FFFFFF;
    --placeholder-color: #919191;
    --gap: 3rem;
    font-family: 'JetBrains Mono';
}

li {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
    color: aqua;
}

strong {
    color: palevioletred;
}

.main-bg {
    background: #1f1f1f;
    background-size: cover;
    color: var(--white-color);
    position: relative;
}

.main-bg-effect {
    background: #1a1a1a;
    background-size: cover;
    color: var(--white-color);
    position: relative;
}

.section::after {
    position: absolute;
    width: 250px;
    height: 250px;
    filter: blur(70px);
    border-radius: 0 50%;
}

.main-bg-effect::after,
.main-bg-effect::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    filter: blur(70px);
    border-radius: 0 50%;
}

.main-bg-effect::after {
    right: 15%;
    top: 15%;
    background: radial-gradient(circle at 50% 50%, aqua, rgba(26, 26, 26, 0));
}

.main-bg-effect::before {
    left: 10%;
    bottom: 20%;
    background: radial-gradient(circle at 50% 50%, red, rgba(0, 0, 0, 0));
}

.white-bg {
    background-color: #1A1A1A;
}

.main-content {
    max-width: 100rem;
    margin: 0 auto;
    padding: 7rem var(--gap);
}

.section {
    min-height: 100vh;
}

.GitColor {
    color: red;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content p {
    font-size: 45px;
    width: 0;
    visibility: hidden;
    animation: typing 3s steps(80) forwards, blink .4s step-end infinite alternate;
    font-size: 2em;
    white-space: nowrap;
    margin-right: 3px;
    overflow: hidden;
}

.intro-text-content p:nth-child(1) {
    animation-delay: 0s;
}

.intro-text-content p:nth-child(2) {
    animation-delay: 0.5s;
}

.intro-text-content p:nth-child(3) {
    animation-delay: 3s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
        visibility: visible;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.intro-text-content h2 {
    font-size: 40px;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 70%;
    height: auto;
}

.social-icon {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #1A1A1A;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    font-size: 25px;
    color: #fff;
}

.social-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.instagram:hover {
    background-color: #cc39a4;
    color: white;
}

.github:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.8);
}

.linkedin:hover {
    background-color: #0077b5;
    color: white;
}


.top3-content {
    color: rgb(238, 238, 238);
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.top3-content p {
    width: 100%;
    margin-top: 1.5rem;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

body .full-widht {
    width: 100%;
    flex: 1 1 100%;
}

.credit {
    text-align: center;
}

.credit a {
    font-size: 1.5rem;
    color: var(--white-color);
}

.credit p {
    margin: 0;
    padding: 3rem;
}

.back-to-top {
    font-size: 25px;
    color: aqua;
    position: fixed;
    display: flex;
    bottom: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.1);
}

.main-content-bout {
    max-width: 100rem;
    margin: auto;
    padding: 7rem var(--gap);
}

.grid-about-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 240px;
    counter-reset: grid-counter;
}

.grid-about h3 {
    color: palevioletred;
    font-size: 18px;
}

.social-icons-container {
    margin-top: 50px;
    gap: 2.5em;
}

.icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 45px;
    flex-wrap: wrap;
    gap: 10px;

}

.icons li {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    flex-grow: 1;
    height: 8.5rem;
    position: relative;
    border-radius: 10px;
}

.icons li:hover {
    border: 0.1rem solid palevioletred;
    transition: transform 0.6s;
    background-color: rgba(0, 0, 0, 0.4);
}

.social-icons-container {
    display: flex;
    gap: 4.4em;
}

.social-icon {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #1A1A1A;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    font-size: 25px;
    color: #fff;
}

.social-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.instagram:hover {
    background-color: #cc39a4;
    color: white;
}

.github:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.8);
}

.linkedin:hover {
    background-color: #0077b5;
    color: white;
}


@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }
}